/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #bababa;}
button {width: 200px; height: 50px;}

.toast-error {
  background-color: #c62828 !important; }

.toast-warnning {
  background-color: #f9a825 !important; }

.toast-success {
  background-color: #2e7d32 !important; }
a{
  cursor: pointer;
}
